.navbar-header{
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    
}
.navbar-brand{
    float:none;
    font-size: 40px;
}